body{
  margin-right: 0.5rem;
  background-color: rgb(44, 42, 42);
}
.card{
  background-color: #242a30;
  margin-top: 0.5rem;
  
  margin-left: 0.5rem;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}
.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.5);

}
h5,p,text{
  font-size: medium;
  font-weight: 750;
  color: #9ac4eb;    
}

img{
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  opacity: 80%;

  
}
.badge{
  font-size: 0.9em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);

}
.card-text{
  color: cyan;
}

.card-grid {
  
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 1rem;
}
.container{
  margin: 0.2rem 0.2rem;
  align-content: center;
  align-items: center;
}
.dropdown{
  font-size: medium;
  font-weight: 750;
  color: #9ac4eb;    
  margin-left: 1rem;
  margin-right: 3rem;
}
.class1{
  font-size: medium;
  font-weight: 750;
  color: #9ac4eb;   

}
.d-flex{
  width: 30%;
}
.time1{
  font-size: small;
}